article h1.dc {
    text-align: center,left; 
    margin-top: 100px;
    margin-left: 190px;
}
p.aa {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 100px;
}